<div class="m-tab s-tab">
  <h2 class="u-tt">会员组管理</h2>
  <ul class="u-tabs">
    <li><a href="{$url|'AdminMemberGroup/index'}">会员组列表</a></li>
    <li><a href="javascript:;" class="tab-on tab-a" >{$actionName}会员组</a></li>
  </ul>
</div>
<div class="m-form">
  <form name="" action="<?php echo url('AdminMemberGroup/'.$action.'Data'); ?>" method="post" id="form">
    <fieldset>
      	<div class="formitm">
          <label class="lab">上级用户组：</label>
          <div class="ipt">
            <select class="u-slt" id="parent_id" name="parent_id">
              <option value="0">==顶级组==</option>
              <!--{loop="$groupList $vo"}-->
              <option {if="$info['parent_id']==$vo['group_id']"} selected="selected"{/if} value="{$vo.group_id}">
              {$vo.cname}
              </option>
              <!--{/loop}-->
            </select>
            <p>上级用户组只做显示使用，无权限等影响</p>
          </div>
        </div>
        <div class="formitm">
          <label class="lab">组名称：</label>
          <div class="ipt">
            <input name="name" type="text" class="u-ipt u-ipt-5" id="name" value="{$info.name}" maxlength="100" datatype="s" />
            <p></p>
          </div>
        </div>
        <div class="formitm">
          <label class="lab">组顺序：</label>
          <div class="ipt">
          	<?php if(!isset($info['sequence'])){ $info['sequence']=0; } ?>
            <input name="sequence" type="text" class="u-ipt u-ipt-5" id="sequence" value="{$info.sequence}" maxlength="100" datatype="s" />
            <p>数字越小越考前显示</p>
          </div>
        </div>
        <div class="formitm">
          <label class="lab" >登录状态：</label>
          <div class="ipt">
            <?php if(!isset($info['status'])){ $info['status']=1; } ?>
            <label class="u-opt">
              <input name="status" type="radio" value="1" {if="$info['status']==1"} checked="checked" {/if} />
              正常</label>
            <label class="u-opt">
              <input name="status" type="radio" value="0" {if="$info['status']==0"} checked="checked" {/if} />
              禁止</label>
          </div>
        </div>
      <div class="formitm formitm-1  formitm-2">
        <input name="group_id" type="hidden" value="{$info.group_id}" />
        <button class="u-btn" type="submit">保存</button>
        <button class="u-btn s-btn-c3" type="reset">重置</button>
        <span class="status" id="status"></span> </div>
    </fieldset>
  </form>
</div>
<script>
Do.ready('base','form','dialog','tabs',function() {
	$('#form').duxForm({returnUrl:'{$url|"AdminMemberGroup/index"}'});
});
</script>