<div class="m-hd">
  <div class="title">
    <h1>会员公告</h1>
    <div class="small">Bulletin</div>
  </div>
  <div class="f-cb"></div>
</div>
<div class="m-tab">
  <ul>
    <li class="z-crt" ><a href="javascript:;">查看公告</a></li>
    <li><a href="{$url|'member/Bulletin/index'}">返回公告</a></li>
  </ul>
</div>
<table class="m-table m-table-1">
  <tbody>
    <tr>
      <td class="tt">标题：</td>
      <td>{$info.title}</td>
    </tr>
    <tr>
      <td class="tt">时间：</td>
      <td>{$info.time|format_time:'Y-m-d H:i:s'}</td>
    </tr>
    <tr>
      <td class="tt">内容：</td>
      <td>{$info.content|html_out}</td>
    </tr>
  </tbody>
</table>