<div class="m-page-title m-page-title-b1">
	<h2 class="u-tt">上传设置</h2>
</div>
<div class="m-form">
	<form name="" action="{$url|'Setting/saveData'}" method="post" id="form">
		<fieldset>
			<div class="formitm">
				<label class="lab" >默认缩图方式：</label>
				<div class="ipt">
					<div class="txt">
						<?php if($config['UPLOAD']['THUMBNAIL_TYPE']){ ?>
						<label class="u-opt"><input type="radio" name="UPLOAD[THUMBNAIL_TYPE]" value="true" checked="checked" />
						裁剪</label>
						
						<label class="u-opt"><input type="radio" name="UPLOAD[THUMBNAIL_TYPE]" value="false" />
						按比例</label>
						<?php }else{?>
						<label class="u-opt"><input type="radio" name="UPLOAD[THUMBNAIL_TYPE]" value="true"  />
						裁剪</label>
						
						<label class="u-opt"><input type="radio" name="UPLOAD[THUMBNAIL_TYPE]" value="false" checked="checked"  />
						按比例</label>
						<?php }?>
					</div>
				</div>
			</div>
			<div class="formitm">
				<label class="lab" >默认缩图开关：</label>
				<div class="ipt">
					<div class="txt">
						<?php if($config['UPLOAD']['THUMBNAIL_ON']){ ?>
						<label class="u-opt"><input type="radio" name="UPLOAD[THUMBNAIL_ON]" value="true" checked="checked" />
						开启</label>
						
						<label class="u-opt"><input type="radio" name="UPLOAD[THUMBNAIL_ON]" value="false" />
						关闭</label>
						<?php }else{?>
						<label class="u-opt"><input type="radio" name="UPLOAD[THUMBNAIL_ON]" value="true"  />
						开启</label>
						
						<label class="u-opt"><input type="radio" name="UPLOAD[THUMBNAIL_ON]" value="false" checked="checked"  />
						关闭</label>
						<?php } ?>
					</div>
				</div>
			</div>
			<div class="formitm">
				<label class="lab" >默认缩图尺寸：</label>
				<div class="ipt">
					<div class="txt">
						<label class="u-opt">宽度：</label>
						<input name="UPLOAD[THUMBNAIL_WIDTH]" type="text" class="u-ipt u-ipt-1" value="<?php echo $config['UPLOAD']['THUMBNAIL_WIDTH']; ?>" /> px
						
						<label class="u-opt">高度：</label>
						<input name="UPLOAD[THUMBNAIL_HEIGHT]" type="text" class="u-ipt u-ipt-1" value="<?php echo $config['UPLOAD']['THUMBNAIL_HEIGHT']; ?>" /> px
					</div>
				</div>
			</div>
			<div class="formitm">
				<label class="lab" >默认水印开关：</label>
				<div class="ipt">
					<div class="txt">
						<?php if($config['UPLOAD']['WATERMARK_ON']){ ?>
						<label class="u-opt"><input type="radio" name="UPLOAD[WATERMARK_ON]" value="true" checked="checked" />
						开启</label>
						
						<label class="u-opt"><input type="radio" name="UPLOAD[WATERMARK_ON]" value="false" />
						关闭</label>
						<?php }else{?>
						<label class="u-opt"><input type="radio" name="UPLOAD[WATERMARK_ON]" value="true"  />
						开启</label>
						
						<label class="u-opt"><input type="radio" name="UPLOAD[WATERMARK_ON]" value="false" checked="checked"  />
						关闭</label>
						<?php } ?>
						
						<label class="u-opt">水印位置：
						<select name="UPLOAD[WATERMARK_POSITION]" class="u-slt">
							<option value="0" <?php if($config['UPLOAD']['WATERMARK_POSITION']==0){ ?> selected="selected" <?php } ?>>随机</option>
							<option value="1" <?php if($config['UPLOAD']['WATERMARK_POSITION']==1){ ?> selected="selected" <?php } ?> >左上</option>
							<option value="2" <?php if($config['UPLOAD']['WATERMARK_POSITION']==2){ ?> selected="selected" <?php } ?> >中上</option>
							<option value="3" <?php if($config['UPLOAD']['WATERMARK_POSITION']==3){ ?> selected="selected" <?php } ?>>右上</option>
							<option value="4" <?php if($config['UPLOAD']['WATERMARK_POSITION']==4){ ?> selected="selected" <?php } ?>>左中</option>
							<option value="5" <?php if($config['UPLOAD']['WATERMARK_POSITION']==5){ ?> selected="selected" <?php } ?>>正中</option>
							<option value="6" <?php if($config['UPLOAD']['WATERMARK_POSITION']==6){ ?> selected="selected" <?php } ?>>右中</option>
							<option value="7" <?php if($config['UPLOAD']['WATERMARK_POSITION']==7){ ?> selected="selected" <?php } ?>>左下</option>
							<option value="8" <?php if($config['UPLOAD']['WATERMARK_POSITION']==8){ ?> selected="selected" <?php } ?>>中下</option>
							<option value="9" <?php if($config['UPLOAD']['WATERMARK_POSITION']==9){ ?> selected="selected" <?php } ?>>右下</option>
						</select>
						</label>
					</div>
				</div>
			</div>
			<div class="formitm">
				<label class="lab" >水印图片：</label>
				<div class="ipt">
					<input name="UPLOAD[WATERMARK_IMAGE]" type="text" class="u-ipt u-ipt-6" value="<?php echo $config['UPLOAD']['WATERMARK_IMAGE']; ?>" />
					<p>位于public/watermark下的图片文件</p>
				</div>
			</div>
			<div class="formitm">
				<label class="lab" >上传格式：</label>
				<div class="ipt">
					<input name="UPLOAD[UPLOAD_TYPE]" type="text" class="u-ipt u-ipt-6" value="<?php echo $config['UPLOAD']['UPLOAD_TYPE']; ?>" />
					<p>系统会自动过滤危险文件</p>
				</div>
			</div>
			<div class="formitm">
				<label class="lab" >上传大小：</label>
				<div class="ipt">
					<input name="UPLOAD[UPLOAD_SIZE]" type="text" class="u-ipt  u-ipt-1" value="<?php echo $config['UPLOAD']['UPLOAD_SIZE']; ?>" />
					<span class="suffix">M</span>
					<p>程序限制上传大小，服务器限制请自行调整</p>
				</div>
			</div>
			<div class="formitm formitm-1  formitm-2">
				<button class="u-btn" type="submit">保存配置</button>
				<button class="u-btn s-btn-c3" type="reset">重置</button>
				<span class="status" id="status">
				</p>
			</div>
		</fieldset>
	</form>
</div>
<script>
Do.ready('base','form','dialog',function() {
	$('#form').duxForm();
});
</script>