<div class="m-tab s-tab">
	<h2 class="u-tt">QQ登录管理</h2>
	<ul>
		<li><a href="{$url|'member/AdminOauth/index'}">登录列表</a></li>
		<li class="z-crt"><a href="javascript:;">QQ登录设置</a></li>
	</ul>
</div>
<div class="m-form">
	<form name="" action="<?php echo url('AdminQLogin/saveData'); ?>" method="post" id="form">
		<fieldset>
        	<div class="formitm">
				<label class="lab">说明：</label>
				<div class="ipt">
					请在<a href="http://connect.qq.com/" target="_blank">http://connect.qq.com/</a>申请站点获取ID与KEY
<p></p>
			  </div>
			</div>
			<div class="formitm">
				<label class="lab">APP ID：</label>
				<div class="ipt">
					<input name="ID" type="text" class="u-ipt u-ipt-5" id="ID" value="{$info.ID}" maxlength="100" datatype="*" errormsg="请输入ID"  />
					<p></p>
				</div>
			</div>
            <div class="formitm">
				<label class="lab">APP KEY：</label>
				<div class="ipt">
					<input name="KEY" type="text" class="u-ipt u-ipt-5" id="KEY" value="{$info.KEY}" maxlength="100" datatype="*" errormsg="请输入KEY"  />
					<p></p>
			  </div>
			</div>
            <div class="formitm">
					<label class="lab" >功能开关：</label>
					<div class="ipt">
						<label class="u-opt">
							<input name="STATUS" type="radio" value="1" {if="$info['STATUS']==1"} checked="checked" {/if} />
							开启</label>
						<label class="u-opt">
							<input name="STATUS" type="radio" value="0" {if="$info['STATUS']==0"} checked="checked" {/if} />
							关闭</label>
					</div>
				</div>
			<div class="formitm formitm-1  formitm-2">
				<button class="u-btn" type="submit">保存</button>
				<button class="u-btn s-btn-c3" type="reset">重置</button>
				<span class="status" id="status"></span> </div>
		</fieldset>
	</form>
</div>
<script>
Do.ready('base','form','dialog',function() {
	$('#form').duxForm({returnUrl:'{$url|"member/AdminOauth/index"}'});
});
</script>