<div class="g-reg">
  <div class="m-hd">
    <div class="title">
      <h1>会员注册</h1>
      <div class="small">register</div>
    </div>
    <div class="f-cb"></div>
  </div>
  <div class="m-msg">
    <h2 class="r">恭喜您{$userInfo.username}，您的密码找回成功！</h2>
    <p class="ico-ok">系统已经将您的新密码发送至您的邮箱，请登录邮箱进行查收，如没有可能因网络关系可能会延迟1~20分钟，请稍等！</p>
    <div class="op">赶快点击这里 <a href="__ROOT__/">返回首页</a> 或<a href="{$url|'member/Login/index'}">登录</a>会员中心吧！</a> </div>
  </div>
  <div class="f-cb"></div>
</div>

