<div class="m-tab s-tab">
	<h2 class="u-tt">推荐位管理</h2>
	<div class="filter">
		<form method="get" action="{$url|'AdminPosition/index'}">
			<input name="r" type="hidden" value="duxcms/AdminPosition/index" />
			推荐位名：
			<input name="keyword" id="keyword" type="text" value="{$_GET.keyword}" class="u-ipt u-ipt-2"/>
			<button class="u-btn" type="submit">筛选</button>
		</form>
	</div>
	<ul>
		<li class="z-crt"><a href="{$url|'AdminPosition/index'}">推荐位列表</a></li>
		<li><a href="{$url|'AdminPosition/add'}">添加推荐位</a></li>
	</ul>
</div>
<table class="m-table m-table-row" id="table">
	<thead class="m-table-thead s-table-thead">
		<tr>
			<th class="cola">ID</th>
			<th>描述</th>
			<th class="colc">操作</th>
		</tr>
	</thead>
	<tbody>
		<!--{loop="$list $key $vo"}-->
		<tr>
			<td>{$vo.pos_id}</td>
			<td>{$vo.name}</td>
			<td><a href="<?php echo url('AdminPosition/edit',array('pos_id'=>$vo['pos_id'])); ?>">编辑</a> / <a href="javascript:;" data="{$vo.pos_id}" class="u-del">删除</a></td>
		</tr>
		<!--{/loop}-->
	</tbody>
</table>
<div class="m-table-tool">
	<div class="m-page"> {$page} </div>
</div>
<script>
Do.ready('base','dialog',function() {
	$('#table').duxTable({selectAll:'#selectAll',deleteUrl:'{$url|"AdminPosition/del"}'});
});
</script>