<div class="m-tab s-tab">
	<h2 class="u-tt">推荐位管理</h2>
	<ul>
		<li><a href="{$url|'AdminPosition/index'}">推荐位列表</a></li>
		<li class="z-crt"><a href="javascript:;">{$actionName}推荐位</a></li>
	</ul>
</div>
<div class="m-form">
	<form name="" action="<?php echo url('AdminPosition/'.$action.'Data'); ?>" method="post" id="form">
		<fieldset>
			<div class="formitm">
				<label class="lab">推荐位名称：</label>
				<div class="ipt">
					<input name="name" type="text" class="u-ipt u-ipt-5" id="key" value="{$info.name}" maxlength="100" datatype="*" />
					<p></p>
				</div>
			</div>
			<div class="formitm formitm-1  formitm-2">
				<input name="pos_id" type="hidden" value="{$info.pos_id}" />
				<button class="u-btn" type="submit">保存</button>
				<button class="u-btn s-btn-c3" type="reset">重置</button>
				<span class="status" id="status"></span> </div>
		</fieldset>
	</form>
</div>
<script>
Do.ready('base','form','dialog','editor','upload',function() {
	//表单综合处理
		$('#form').duxForm({returnUrl:'{$url|"AdminPosition/index"}'});
});
</script>