<div class="g-reg">
  <div class="m-hd">
    <div class="title">
      <h1>页面不存在</h1>
      <div class="small">404page</div>
    </div>
    <div class="f-cb"></div>
  </div>
  <div class="m-msg">
    <h2 class="r">您访问的页面不存在</h2>
    <p class="ico-no">您访问的页面暂时无法访问或者不存在</p>
    <div class="op">赶快点击这里 <a href="__ROOT__/">返回首页</a> 或<a href="{$url|'member/Index/index'}">进入</a>会员中心吧！</a> </div>
  </div>
  <div class="f-cb"></div>
</div>
