<div class="m-hd">
  <div class="title">
    <h1>站内短信</h1>
    <div class="small">Member</div>
  </div>
  <div class="f-cb"></div>
</div>
<div class="m-tab">
	<div class="more"><a href="{$url|'member/Message/send'}">+ 写新消息</a></div>
  <ul>
    <li {if="$_GET['type']==0"} class="z-crt" {/if} ><a href="<?php echo url('member/Message/index'); ?>">收件箱</a></li>
    <li {if="$_GET['type']==1"} class="z-crt" {/if} ><a href="<?php echo url('member/Message/index',array('type'=>1)); ?>">系统消息</a></li>
    <li {if="$_GET['type']==2"} class="z-crt" {/if} ><a href="<?php echo url('member/Message/index',array('type'=>2)); ?>">发件箱</a></li>
  </ul>
</div>
<table class="m-table m-table-1">
  <tbody>
    <tr>
      <td class="tt">标题：</td>
      <td class="tt-big">{$info.title}</td>
    </tr>
    <tr>
      <td class="tt">时间：</td>
      <td class="tt-small">{$info.time|format_time:'Y-m-d H:i:s'}</td>
    </tr>
    <tr>
      <td class="tt">{$typeName}：</td>
      {if="!empty($userInfo)"}
      <td>{$userInfo.username} <a href="<?php echo url('member/Message/send',array('username'=>$userInfo['username'])); ?>">[发送信息]</a></td>
      {else}
      <td>系统信息</td>
      {/if}
      
    </tr>
    <tr>
      <td class="tt">内容：</td>
      <td>{$info.content}</td>
    </tr>
  </tbody>
</table>