<div class="m-tab s-tab">
	<h2 class="u-tt">碎片管理</h2>
	<ul>
		<li><a href="{$url|'AdminFragment/index'}">碎片列表</a></li>
		<li class="z-crt"><a href="javascript:;">{$actionName}碎片</a></li>
	</ul>
</div>
<div class="m-form">
	<form name="" action="<?php echo url('AdminFragment/'.$action.'Data'); ?>" method="post" id="form">
		<fieldset>
			<div class="formitm">
				<label class="lab">名称：</label>
				<div class="ipt">
					<input name="name" type="text" class="u-ipt u-ipt-5" id="key" value="{$info.name}" maxlength="100" datatype="*" />
					<p></p>
				</div>
			</div>
			<div class="formitm">
				<label class="lab">内容：</label>
				<div class="ipt">
					<textarea name="content" id="content" class="u-editor" style="width:100%;height:400px;visibility:hidden;">{$info.content}</textarea>
					<p></p>
				</div>
			</div>
			<div class="formitm formitm-1  formitm-2">
				<input name="fragment_id" type="hidden" value="{$info.fragment_id}" />
				<button class="u-btn" type="submit">保存</button>
				<button class="u-btn s-btn-c3" type="reset">重置</button>
				<span class="status" id="status"></span> </div>
		</fieldset>
	</form>
</div>
<script>
Do.ready('base','form','dialog','editor','upload',function() {
	//表单综合处理
		$('#form').duxFormPage({returnUrl:'{$url|"AdminFragment/index"}'});
});
</script>