<div class="m-tab s-tab">
	<h2 class="u-tt">页面管理</h2>
	<ul class="u-tabs">
		<li><a href="{$url|'AdminPages/index'}">页面列表</a></li>
		<li><a href="#tab1" class="tab-on tab-a">{$actionName}页面</a></li>
		<li><a href="#tab2" class="tab-a">其他设置</a></li>
	</ul>
</div>
<div class="m-form">
	<form name="" action="<?php echo url('AdminPages/'.$action.'Data'); ?>" method="post" id="form">
		<fieldset>
			<div id="tab1">
				<div class="formitm">
					<label class="lab">上级页面：</label>
					<div class="ipt">
						<select class="u-slt" name="parent_id" id="parent_id"  datatype="*">
							<option value="0">=====顶级页面=====</option>
							<!--{loop="$categoryList $vo"}--> 
							<option <!--{if="$vo['class_id']==$info['parent_id']"}-->selected="selected"<!--{/if}--> value="{$vo.class_id}">{$vo.cname}
							
							</option>
							<!--{/loop}-->
						</select>
						<?php if($info){ ?>
						<label class="u-opt"><input name="upmenu" type="checkbox" value="1" />
							更新菜单关系 </label>
						<?php } ?>
						<p></p>
					</div>
				</div>
				
				<div class="formitm">
					<label class="lab">页面名称：</label>
					<div class="ipt">
						<input name="name" type="text" class="u-ipt u-ipt-6" id="name" value="{$info.name}" datatype="*" errormsg="页面名称至少1~20个字符！" />
						<p></p>
					</div>
				</div>
				<div class="formitm">
					<label class="lab">页面形象图：</label>
					<div class="ipt">
						<input type="text" name="image"  class="u-ipt u-ipt-4" id="image" value="{$info.image}"  />
						<span class="suffix">
						<button class="u-btn u-img-upload" type="button" data="image" preview="image_preview" id="image_button">上传</button>
						<button class="u-btn" type="button" id="image_preview">预览</button>
						</span> </div>
				</div>
				<div class="formitm">
					<label class="lab">内容：</label>
					<div class="ipt">
						<textarea name="content" id="content" class="u-editor" style="width:100%;height:400px;visibility:hidden;">{$info.content}</textarea>
					</div>
				</div>
				
				<div class="formitm">
					<label class="lab" >关键词：</label>
					<div class="ipt">
						<input name="keywords" type="text" class="u-ipt u-ipt-6" id="keywords" value="{$info.keywords}" maxlength="250" />
						<label class="u-opt">
					</div>
				</div>
				<div class="formitm">
					<label class="lab" >描述：</label>
					<div class="ipt">
						<textarea name="description" id="description" class="u-tta u-tta-6" >{$info.description}</textarea>
					</div>
				</div>
				<div class="formitm">
					<label class="lab">页面模板：</label>
					<div class="ipt">
						<input name="class_tpl" type="text" class="u-ipt u-ipt-4" id="class_tpl" value="{$info.class_tpl|is_empty:'page.html'}" datatype="*"   />
						<p>当前页面所使用的模板</p>
					</div>
				</div>
			</div>
			<div id="tab2" class="m-tabpanel">
				<div class="formitm">
					<label class="lab" >页面URL：</label>
					<div class="ipt">
						<input name="urlname" type="text" class="u-ipt u-ipt-6" value="{$info.urlname}" />
						<p>页面URL名称，不能含有特殊符号</p>
					</div>
				</div>
				
				<div class="formitm">
					<label class="lab" >页面跳转：</label>
					<div class="ipt">
						<input name="url" type="text" class="u-ipt u-ipt-6" value="{$info.url}" />
						<p>访问该页面将跳转到指定连接</p>
					</div>
				</div>
				<div class="formitm">
					<label class="lab">页面顺序：</label>
					<div class="ipt">
						<input name="sequence" type="text" class="u-ipt u-ipt-2" value="{$info.sequence|is_empty:1}" />
						<p>数字越小页面越靠前</p>
					</div>
				</div>
			</div>
			<div class="formitm formitm-1  formitm-2">
				<input name="class_id" type="hidden" value="{$info.class_id}" />
				<button class="u-btn" type="submit">保存</button>
				<button class="u-btn s-btn-c3" type="reset">重置</button>
				<span class="status" id="status"></span> </div>
		</fieldset>
	</form>
</div>
<script>
Do.ready('base','form','dialog','color','editor','sort','upload','tabs',function() {
	//表单综合处理
	$('#form').duxFormPage({returnUrl:'{$url|"AdminPages/index"}'});
});
</script>