<div class="m-tab s-tab">
	<h2 class="u-tt">系统短信</h2>
	<div class="filter">
		<form method="get" action="{$url|'AdminMessage/index'}">
			<input name="r" type="hidden" value="member/AdminMessage/index" />
			标题：
			<input name="keyword" id="keyword" type="text" value="{$_GET.keyword}" class="u-ipt u-ipt-2"/>
			<button class="u-btn" type="submit">筛选</button>
		</form>
	</div>
	<ul>
		<li class="z-crt"><a href="{$url|'AdminMessage/index'}">已发送</a></li>
		<li><a href="{$url|'AdminMessage/add'}">发送信息</a></li>
	</ul>
</div>
<table class="m-table m-table-row" id="table">
	<thead class="m-table-thead s-table-thead">
		<tr>
			<th class="cola">ID</th>
			<th>信息标题</th>
            <th>收件人</th>
            <th>发布时间</th>
			<th class="colc">操作</th>
		</tr>
	</thead>
	<tbody>
		<!--{loop="$list $key $vo"}-->
		<tr>
			<td>{$vo.msg_id}</td>
			<td>{$vo.title}</td>
            <td>{$vo.receive_username}</td>
            <td>{$vo.time|format_time:'Y-m-d H:i:s'}</td>
            
			<td><a href="<?php echo url('AdminMessage/edit',array('msg_id'=>$vo['msg_id'])); ?>">查看</a> / <a href="javascript:;" data="{$vo.msg_id}" class="u-del">删除</a></td>
		</tr>
		<!--{/loop}-->
	</tbody>
</table>
<div class="m-table-tool">
	<div class="m-page"> {$page} </div>
</div>
<script>
Do.ready('base','dialog',function() {
	$('#table').duxTable({selectAll:'#selectAll',deleteUrl:'{$url|"AdminMessage/del"}'});
});
</script>