<div class="m-tab s-tab">
	<h2 class="u-tt">安全记录</h2>
	<div class="filter">
		<form method="get" action="{$url|'UserLog/index'}">
			<input name="r" type="hidden" value="admin/UserLog/index" />
			<select class="u-slt" name="type" id="type">
				<option value="0">==类型==</option>
				<!--{loop="$type $key $name"}-->
				<option value="{$key}" {if="$key==$_GET['type']"}selected="selected"{/if} >{$type[$key]}</option>
				<!--{/loop}-->
			</select>
			用户名：
			<input name="keyword" id="keyword" type="text" value="{$_GET.keyword}" class="u-ipt u-ipt-2"/>
			<button class="u-btn" type="submit">筛选</button>
		</form>
	</div>
	<ul>
		<li class="z-crt"><a href="{$url|'UserLog/index'}">记录列表</a></li>
	</ul>
</div>
<table class="m-table m-table-row" id="table">
	<thead class="m-table-thead s-table-thead">
		<tr>
			<th class="cola">ID</th>
			<th>用户</th>
			<th>时间</th>
			<th>IP</th>
			<th>动作</th>
			<th>描述</th>
		</tr>
	</thead>
	<tbody>
		<!--{loop="$list $key $vo"}-->
		<tr>
			<td>{$vo.log_id}</td>
			<td>{$vo.username}</td>
			<td>{$vo.time|format_time:'Y-m-d H:i:s'}</td>
			<td>{$vo.ip}</td>
			<td><?php echo model('UserLog')->getType($vo['type']); ?></td>
			<td>{$vo.content|is_empty:'无'}</td>
		</tr>
		<!--{/loop}-->
	</tbody>
</table>
<div class="m-table-tool">
	<div class="m-page"> {$page} </div>
</div>
<script>
Do.ready('base','dialog',function() {
	$('#table').duxTable({selectAll:'#selectAll',deleteUrl:'{$url|"User/del"}'});
});
</script>