<div class="m-tab s-tab">
	<h2 class="u-tt">角色管理</h2>
	<div class="filter">
		<form method="get" action="{$url|'AdminMemberRole/index'}">
			<input name="r" type="hidden" value="member/AdminMemberRole/index" />
			角色名：
			<input name="keyword" id="keyword" type="text" value="{$_GET.keyword}" class="u-ipt u-ipt-2"/>
			<button class="u-btn" type="submit">筛选</button>
		</form>
	</div>
	<ul>
		<li class="z-crt"><a href="{$url|'AdminMemberRole/index'}">角色列表</a></li>
		<li><a href="{$url|'AdminMemberRole/add'}">添加角色</a></li>
	</ul>
</div>
<table class="m-table m-table-row" id="table">
	<thead class="m-table-thead s-table-thead">
		<tr>
			<th class="cola">ID</th>
			<th>名称</th>
			<th class="cold">操作</th>
		</tr>
	</thead>
	<tbody>
		<!--{loop="$list $key $vo"}-->
		<tr>
			<td>{$vo.role_id}</td>
			<td>{$vo.name}</td>
			<td>
            <a href="<?php echo url('AdminMemberRole/edit',array('role_id'=>$vo['role_id'])); ?>">基本</a> 
             / <a href="<?php echo url('AdminMemberRole/purview',array('role_id'=>$vo['role_id'])); ?>">权限</a> 
            <!--{loop="$funList $v"}-->
             / <a href="<?php echo url($v['url'],array('role_id'=>$vo['role_id'])); ?>">{$v.name}</a>
            <!--{/loop}-->
            / <a href="javascript:;" data="{$vo.role_id}" class="u-del">删除</a></td>
		</tr>
		<!--{/loop}-->
	</tbody>
</table>
<div class="m-table-tool">
	<div class="m-page"> {$page} </div>
</div>
<script>
Do.ready('base','dialog',function() {
	$('#table').duxTable({selectAll:'#selectAll',deleteUrl:'{$url|"AdminMemberRole/del"}'});
});
</script>