#category-info{padding:20px;border-bottom:1px solid #8c8c8c;}
#category-title{padding-bottom:10px;border-bottom:1px dotted #ccc;font-size:25px;}
#category-des{margin-top:10px;text-indent:2em;color:#999;font-size:15px;}

#category-content li{border-bottom:1px #999 dashed;}
#category-content li:hover{background-color:#F7F9FF;}
#category-content .item-head{line-height:25px;padding:0 20px;}
#category-content .item-head h2{font-size:22px;line-height:2em;border-bottom:1px dotted #ccc;}
#category-content .item-head h2 a{color:#6FCC0A;}
#category-content .item-head em{float:right;font-size:0.5em;font-weight:600;color:#999}
#category-content .item-text {padding-bottom:50px;padding:10px 20px;}
#category-content .item-text img{float:left;margin-right:5px;width:150px;}
#category-content .item-text p{text-indent:1em;line-height:1.5em;word-wrap:break-word;font-size:14px;}
#category-content .item-text .item-more{font-size:0.8em;font-weight:800;color:#0070FF;float:right;}

#category-foot {padding:0 20px;font-size:15px;}
#category-foot p{line-height:3em;white-space:pre-wrap;text-align:right;color:#999;}

/*@media (max-width:1000px) {
	#category-title{font-size:50px;}
	#category-des{font-size:25px;}
	#category-content .item-head h2{font-size:40px;}
	#category-content .item-text img{margin-right:10px;width:200px;}
	#category-content .item-text p{font-size:20px;}
	#category-foot {font-size:20px;}

}*/