<div class="m-tab s-tab">
	<h2 class="u-tt">{$fieldsetInfo.name}字段管理</h2>
	<div class="filter">
		<form method="get" action="{$url|'AdminField/index'}">
			<input name="r" type="hidden" value="duxcms/AdminField/index" />
			<input name="fieldset_id" type="hidden" value="{$fieldsetInfo['fieldset_id']}" />
			字段名：
			<input name="keyword" id="keyword" type="text" value="{$_GET.keyword}" class="u-ipt u-ipt-2"/>
			<button class="u-btn" type="submit">筛选</button>
		</form>
	</div>
	<ul>
		<li><a href="<?php echo url('AdminFieldset/index'); ?>">字段集列表</a></li>
		<li class="z-crt"><a href="<?php echo url('AdminField/index',array('fieldset_id'=>$fieldsetInfo['fieldset_id'])); ?>">字段列表</a></li>
		<li><a href="<?php echo url('AdminField/add',array('fieldset_id'=>$fieldsetInfo['fieldset_id'])); ?>">添加字段</a></li>
	</ul>
</div>
<table class="m-table m-table-row" id="table">
	<thead class="m-table-thead s-table-thead">
		<tr>
			<th>字段名称</th>
			<th>字段</th>
			<th class="cola">排序</th>
			<th class="colb">类型</th>
			<th class="cola">验证</th>
			<th class="colb">操作</th>
		</tr>
	</thead>
	<tbody>
		<!--{loop="$list $key $vo"}-->
		<tr>
        <td>{$vo.name}</td>
        <td>{$vo.field}</td>
		<td>{$vo.sequence}</td>
        <td><?php echo $typeField[$vo['type']]['name']; ?></td>
		<td>
		<?php $vo['datatype']=unserialize($vo['datatype']); ?>
        <!--{if="$vo['datatype']"}-->
        <font color=green><b>√</b></font>
        <!--{else}-->
        <font color=red><b>×</b></font>
        <!--{/if}-->
        </td>
			<td><a href="<?php echo url('AdminField/edit',array('fieldset_id'=>$fieldsetInfo['fieldset_id'],'field_id'=>$vo['field_id'])); ?>">编辑</a> / <a href="javascript:;" data="{$vo.field_id}" class="u-del">删除</a></td>
		</tr>
		<!--{/loop}-->
	</tbody>
</table>
<div class="m-table-tool">
	<div class="m-page"> {$page} </div>
</div>
<script>
Do.ready('base','dialog',function() {
	$('#table').duxTable({selectAll:'#selectAll',deleteUrl:'{$url|"AdminField/del"}'});
});
</script>