<div class="m-hd">
  <div class="title">
    <h1>修改资料</h1>
    <div class="small">Info</div>
  </div>
  <div class="f-cb"></div>
</div>
<div class="f-sep10"></div>
<div class="m-form m-form-1">
    <form action="{$url|'member/MemberSetting/saveInfo'}" method="post" id="form">
      <fieldset>
        <div class="formitm">
          <label class="lab"> 用户名：</label>
          <div class="ipt">
            {$userInfo.username}
            <p></p>
          </div>
        </div>
        <div class="formitm">
          <label class="lab"> 邮箱：</label>
          <div class="ipt">
            {$userInfo.email}
            <p></p>
          </div>
        </div>
        {$expand}
        <div class="formitm formitm-1">
          <button class="u-btn s-btn-c3 u-btn-lg" type="submit">确认修改</button>
          <span class="status" id="status"></span> </div>
      </fieldset>
    </form>
    <div class="f-cb"></div>
  </div>
<script>
Do.ready('base','form','dialog','color','editor','sort','upload','calendar','tabs','region',function() {
	$('#form').duxFormPage({});
});
</script>