<div class="m-hd">
  <div class="title">
    <h1>修改密码</h1>
    <div class="small">Password</div>
  </div>
  <div class="f-cb"></div>
</div>
<div class="f-sep10"></div>
<div class="m-form m-form-1">
    <form action="{$url|'member/MemberSetting/passwordData'}" method="post" id="form">
      <fieldset>
        <div class="formitm">
          <label class="lab"> 用户名：</label>
          <div class="ipt">
            {$userInfo.username}
            <p></p>
          </div>
        </div>
        <div class="formitm">
          <label class="lab"> 原始密码：</label>
          <div class="ipt">
            <input name="old_password" type="password" class="u-ipt u-ipt-5" maxlength="250" datatype="*6-250" sucmsg="密码验证通过！" nullmsg="请输入密码！"  errormsg="密码至少6个字符！"  />
            <span class="suffix"></span>
            <p>请输入原始密码</p>
          </div>
        </div>
        <div class="formitm">
          <label class="lab"> 密 码：</label>
          <div class="ipt">
            <input name="password" type="password" class="u-ipt u-ipt-5" maxlength="250" datatype="*6-250" sucmsg="密码验证通过！" nullmsg="请输入密码！"  errormsg="密码至少6个字符！"  />
            <span class="suffix"></span>
            <p>为了您的帐户安全，强烈建议您的密码使用字符+数字等多种不同类型的组合，并且密码长度大于6位</p>
          </div>
        </div>
        <div class="formitm">
          <label class="lab"> 确认密码：</label>
          <div class="ipt">
            <input name="password2" type="password" class="u-ipt u-ipt-5" maxlength="250" datatype="*6-250" sucmsg="密码验证通过！" nullmsg="请输入密码！"  errormsg="密码至少6个字符！"  />
            <span class="suffix"></span>
            <p>请重复您输入的密码</p>
          </div>
        </div>
        <div class="formitm formitm-1">
          <button class="u-btn s-btn-c3 u-btn-lg" type="submit">确认修改</button>
          <span class="status" id="status"></span> </div>
      </fieldset>
    </form>
    <div class="f-cb"></div>
  </div>
<script>
Do.ready('base','form','dialog',function() {
	$('#form').duxForm({});
});
</script>