<div class="m-tab s-tab">
	<h2 class="u-tt">内容替换管理</h2>
	<div class="filter">
		<form method="get" action="{$url|'AdminReplace/index'}">
			<input name="r" type="hidden" value="duxcms/AdminReplace/index" />
			内容替换名：
			<input name="keyword" id="keyword" type="text" value="{$_GET.keyword}" class="u-ipt u-ipt-2"/>
			<button class="u-btn" type="submit">筛选</button>
		</form>
	</div>
	<ul>
		<li class="z-crt"><a href="{$url|'AdminReplace/index'}">内容替换列表</a></li>
		<li><a href="{$url|'AdminReplace/add'}">添加内容替换</a></li>
	</ul>
</div>
<table class="m-table m-table-row" id="table">
	<thead class="m-table-thead s-table-thead">
		<tr>
			<th class="cola">ID</th>
			<th>关键词</th>
			<th>替换内容</th>
			<th>替换次数</th>
			<th class="colc">操作</th>
		</tr>
	</thead>
	<tbody>
		<!--{loop="$list $key $vo"}-->
		<tr>
			<td>{$vo.replace_id}</td>
			<td>{$vo.key}</td>
			<td>{$vo.content}</td>
			<td>{$vo.num}</td>
			<td><a href="<?php echo url('AdminReplace/edit',array('replace_id'=>$vo['replace_id'])); ?>">编辑</a> / <a href="javascript:;" data="{$vo.replace_id}" class="u-del">删除</a></td>
		</tr>
		<!--{/loop}-->
	</tbody>
</table>
<div class="m-table-tool">
	<div class="m-page"> {$page} </div>
</div>
<script>
Do.ready('base','dialog',function() {
	$('#table').duxTable({selectAll:'#selectAll',deleteUrl:'{$url|"AdminReplace/del"}'});
});
</script>