<div class="m-tab s-tab">
	<h2 class="u-tt">用户管理</h2>
	<ul>
		<li><a href="{$url|'User/index'}">用户列表</a></li>
		<li class="z-crt"><a href="<?php echo url('User/edit',array('user_id'=>$vo['user_id'])); ?>">编辑资料</a></li>
	</ul>
</div>
<div class="m-form">
	<form name="" action="{$url|'User/editData'}" method="post" id="form">
		<fieldset>
			<div class="formitm">
				<label class="lab">昵称：</label>
				<div class="ipt">
					<input name="nicename" type="text" class="u-ipt u-ipt-5" id="nicename" value="{$info.nicename}" maxlength="18" datatype="s4-18" errormsg="昵称至少4个字符,最多18个字符！" />
					<p></p>
				</div>
			</div>
			<div class="formitm">
				<label class="lab">邮箱：</label>
				<div class="ipt">
					<input name="email" type="text" class="u-ipt u-ipt-5" id="email"  value="{$info.email}" maxlength="25" datatype="e" errormsg="邮箱格式不正确！" />
					<p></p>
				</div>
			</div>
			<div class="formitm">
				<label class="lab">密码：</label>
				<div class="ipt">
					<input name="password" type="password" class="u-ipt u-ipt-5" id="password" ignore="ignore"  value="" maxlength="18" datatype="*4-18" errormsg="密码至少4个字符,最多18个字符！" />
					<span class="suffix">不修改密码请留空</span> 
					<p></p>
				</div>
			</div>
			<div class="formitm">
				<label class="lab">重复密码：</label>
				<div class="ipt">
					<input name="password2" type="password" class="u-ipt u-ipt-5" id="password2" ignore="ignore"   value="" maxlength="18"  datatype="*" recheck="password" errormsg="您两次输入的密码不一致！" />
					<p></p>
				</div>
			</div>
			
			<div class="formitm formitm-1  formitm-2">
				<input name="user_id" type="hidden" value="{$info.user_id}" />
				<button class="u-btn" type="submit">保存</button>
				<button class="u-btn s-btn-c3" type="reset">重置</button>
				<span class="status" id="status"></span> </div>
		</fieldset>
	</form>
</div>
<script>
Do.ready('base','form','dialog',function() {
	$('#form').duxForm();
});
</script>