<div class="m-hd">
  <div class="title">
    <h1>我的动态</h1>
    <div class="small">Trend</div>
  </div>
  <div class="f-cb"></div>
</div>
<div class="f-sep10"></div>
<table class="m-table">
  <tbody>
  	<!--{loop="$list $vo"}-->
    <tr>
      <td>{$vo.content}</td>
    </tr>
    <!--{/loop}-->
  </tbody>
</table>
<div class="m-page">
  <div class="page">{$page}</div>
  <div class="f-cb"></div>
</div>
