<div class="g-hd">
	<div class="m-logo"></div>
	<div class="m-sch">
		<!--{*文章搜索标签*}-->
		<form action="{$url|'index/index'}" method="get">
		<input name="r" type="hidden" value="article/Search/index" />
		<div class="select">
			<select name="model">
				<option value="0">标题</option>
				<option value="1">全文</option>
			</select>
		</div>
		<input name="keyword" type="text" maxlength="20">
		<button>搜索</button>
		</form>
	</div>
</div>
<div class="m-nav">
	<ul>
		<li><a {if="!$topCategoryInfo['class_id']"} class="u-crt"  {/if} href="__ROOT__/">网站首页</a></li>
		<!--list:{$model="MenuList" $parentId="0"  $limit="20"}-->
		<li><a href="{$list.url}" {if="$list['class_id']==$topCategoryInfo['class_id']"} class="u-crt" {/if}>{$list.name}</a></li>
		<!--{/list}-->
		<li><a href='<!--info:{$model="FormUrl" $name='guestbook' $label="echo"}-->'>留言板</a></li>
		
	</ul>
</div>