#page-info{padding:20px;}
#page-title{padding-bottom:10px;border-bottom:1px dotted #ccc;font-size:25px;}

#post-info{margin-top:10px;}
.post-meta{display:inline-block;color:#999;font-size:15px;margin-right:10px;}
#post-tags{float:right;}
#post-tags:before{ content:"关键词:";margin-right:10px;}

#page-content{padding:0 20px;min-height:500px;}
#page-content .media img{width:100%;}
#page-content .text{font-size:17px;padding-bottom:50px;}
#page-content .text p{line-height:2em;word-wrap:break-word;}


#foot p{border-top:1px #ccc dashed;}

