body{background-color:#f4f4f4;}
#gb-info{padding:20px 20px 0px 20px;}
#gb-title{padding-bottom:10px;border-bottom:1px dotted #ccc;font-size:25px;}

.gb-lst {background-color:#fff; padding:10px; margin:10px 20px;}
.gb-lst .info { border-bottom:1px dotted #ccc; line-height:25px; height:25px;}
.gb-lst .content { line-height:25px; padding-top:10px;}
.gb-form {background-color:#fff; padding:10px; margin:10px 20px;}
/* 表单 */
.gb-form{line-height:29px;color:#555; padding-bottom:20px;}
.gb-form legend{font-size:14px;font-weight:bold;}
.gb-form .formitm{padding:20px 0 0;line-height:30px;}
.gb-form .formitm-1{padding-left:40px;}
.gb-form .lab{float:left;text-align:right;font-weight:bold;}
.gb-form .ipt{margin-left:40px;margin-right:12px;}
.gb-form .ipt *{vertical-align:middle;}
.gb-form .ipt a,.m-form .ipt a:hover{text-decoration:none;color:#3891eb;}
.gb-form .ipt img{height:32px;margin:0 15px 0 5px;}
.gb-form .ipt .domain{margin:0 0 0 5px;font-weight:bold;color:#777;}
.gb-form .ipt p{line-height:22px;color:#999;}
.gb-form .tip{padding-top:10px;}
.gb-form .tip input{margin:0 5px 3px 0;}
.u-ipt { width: 180px; padding: 5px; height: 17px; border: 1px solid #D9D9D9; border-top-color: #c0c0c0; line-height: 17px; font-size: 14px; color: #777; background: #fff; margin-right: 5px; vertical-align: middle; }
.u-ipt:focus{box-shadow:0px 0px 5px #6FCC0A;}
.u-ipt-6 { width: 100%; }
.u-tta { width: 180px; padding: 5px; height: 50px; border: 1px solid #D9D9D9; border-top-color: #c0c0c0; line-height: 17px; font-size: 14px; color: #777; background: #fff; vertical-align: middle; margin-right: 5px; }

.u-tta-6 { width: 100%; height: 80px; }
.u-tta-6:focus{box-shadow:0px 0px 5px #6FCC0A;}
.u-tta-err { border-color: #c00 #e00 #e00; }

.u-slt { padding: 5px; height: 29px; border: 1px solid #D9D9D9; border-top-color: #c0c0c0; font-size: 14px; color: #777; background: #fff; vertical-align: middle; margin-right: 5px; z-index: 1; }
.u-opt { margin-right: 10px; }
.u-opt input { margin: 0 5px 3px 0; }
.u-btn { display: inline-block; *display:inline;*zoom:1;*overflow:visible;-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; padding: 0 12px; height: 29px; line-height: 29px; border: 0px; font-size: 12px; letter-spacing: 1px; word-spacing: normal; text-align: center; vertical-align: middle; cursor: pointer; margin-right: 10px;  background:#de2027; }
.u-btn {*height:29px; _line-height: 23px; }
.u-btn { color: #000; text-decoration: none;  background:#fff;border:1px solid #ddd;}
.u-btn:hover {background:#6FCC0A;color:#fff;}

.m-page{padding:10px 20px;text-align:right;}
.m-page >*{padding:3px 4px;margin:0 3px;text-align:right;border:1px solid #ddd;}
.m-page >a{background-color:#fff;color:#000;}
.m-page >a:hover{background-color:#6FCC0A;color:#fff;}
.m-page >span{background-color:#6FCC0A;color:#fff;}

