<div class="m-tab s-tab">
	<h2 class="u-tt">站点管理</h2>
	<div class="filter">
		<form method="get" action="{$url|'AdminSiteManage/index'}">
			<input name="r" type="hidden" value="duxcms/AdminSiteManage/index" />
			站点名：
			<input name="keyword" id="keyword" type="text" value="{$_GET.keyword}" class="u-ipt u-ipt-2"/>
			<button class="u-btn" type="submit">筛选</button>
		</form>
	</div>
	<ul>
		<li class="z-crt"><a href="{$url|'AdminSiteManage/index'}">站点列表</a></li>
		<li><a href="{$url|'AdminSiteManage/add'}">添加站点</a></li>
	</ul>
</div>
<table class="m-table m-table-row" id="table">
	<thead class="m-table-thead s-table-thead">
		<tr>
			<th class="cola">ID</th>
			<th>站点名称</th>
			<th>绑定域名</th>
			<th class="colc">操作</th>
		</tr>
	</thead>
	<tbody>
		<!--{loop="$list $key $vo"}-->
		<tr>
			<td>{$vo.site_id}</td>
			<td>{$vo.name} [<a href="javascript:window.top.location='<?php echo url('admin/Index/index',array('site'=>$vo['site_id'])); ?>';">切换站点</a>]</td>
			<td>{$vo.domain|is_empty:'无'}</td>
			<td><a href="<?php echo url('AdminSiteManage/edit',array('site_id'=>$vo['site_id'])); ?>">编辑</a> / <a href="javascript:;" data="{$vo.site_id}" class="u-del">删除</a></td>
		</tr>
		<!--{/loop}-->
	</tbody>
</table>
<div class="m-table-tool">
	<div class="m-page"> {$page} </div>
</div>
<script>
Do.ready('base','dialog',function() {
	$('#table').duxTable({selectAll:'#selectAll',deleteUrl:'{$url|"AdminSiteManage/del"}'});
});
</script>