<div class="m-tab s-tab">
	<h2 class="u-tt">站点管理</h2>
	<ul>
		<li><a href="{$url|'AdminSiteManage/index'}">站点列表</a></li>
		<li class="z-crt"><a href="javascript:;">{$actionName}站点</a></li>
	</ul>
</div>
<div class="m-form">
	<form name="" action="<?php echo url('AdminSiteManage/'.$action.'Data'); ?>" method="post" id="form">
		<fieldset>
			<div class="formitm">
				<label class="lab">站点名称：</label>
				<div class="ipt">
					<input name="name" type="text" class="u-ipt u-ipt-5" id="name" value="{$info.name}" maxlength="100" datatype="*" />
					<p></p>
				</div>
			</div>
			<div class="formitm">
				<label class="lab">站点域名：</label>
				<div class="ipt">
					<input name="domain" type="text" class="u-ipt u-ipt-5" id="domain" value="{$info.domain}" maxlength="250"/>
					<p>可选，填写绑定域名，填写后访问域名将会访问当前站点</p>
				</div>
			</div>
			<div class="formitm">
				<label class="lab">数据来源：</label>
				<div class="ipt">
					<select name="data_type" class="u-slt" id="data_type">
						<option value="0">==独立数据==</option>
						<!--{loop="$siteList $key $vo"}-->
						<option value="{$vo.site_id}" {if="$vo['site_id']==$info['data_type']"}selected="selected"{/if}>{$vo.name}</option>
						<!--{/loop}-->
					</select>
					<p>可选择使用其他站点数据(站点设置数据独立)</p>
				</div>
			</div>
			<div class="formitm formitm-1  formitm-2">
				<input name="site_id" type="hidden" value="{$info.site_id}" />
				<button class="u-btn" type="submit">保存</button>
				<button class="u-btn s-btn-c3" type="reset">重置</button>
				<span class="status" id="status"></span> </div>
		</fieldset>
	</form>
</div>
<script>
Do.ready('base','form','dialog','editor','upload',function() {
	//表单综合处理
		$('#form').duxFormPage({returnUrl:'{$url|"AdminSiteManage/index"}'});
});
</script>