<div class="m-tab s-tab">
	<h2 class="u-tt">菜单管理</h2>
	<ul>
		<li><a href="{$url|'AdminCatalog/index'}">菜单列表</a></li>
		<li class="z-crt"><a href="{$url|'AdminCatalog/add'}">{$actionName}菜单</a></li>
	</ul>
</div>
<div class="m-form">
	<form name="" action="<?php echo url('AdminCatalog/'.$action.'Data'); ?>" method="post" id="form">
		<fieldset>
			<div class="formitm">
				<label class="lab">上级菜单：</label>
				<div class="ipt">
					<select class="u-slt" name="parent_id" id="parent_id"  datatype="*">
						<option value="0">=====顶级菜单=====</option>
						<!--{loop="$catalogList $vo"}--> 
						<option <!--{if="$vo['catalog_id']==$info['parent_id']"}-->selected="selected"<!--{/if}--> value="{$vo.catalog_id}">{$vo.tree}{if="empty($vo['name'])"}{$vo.class_name}{else}{$vo.name}{/if}
						</option>
						<!--{/loop}-->
					</select>
					<p></p>
				</div>
			</div>
			<!--{if="!empty($info['class_id'])"}-->
			
			<div>
				<div class="formitm">
					<label class="lab" >绑定栏目：</label>
					<div class="ipt">
						{$categoryInfo.name} (ID:{$info.class_id})
					</div>
				</div>
			</div>
			<!--{/if}-->
			<div>
				<div class="formitm">
					<label class="lab" >菜单URL：</label>
					<div class="ipt">
						<input name="url" type="text" class="u-ipt u-ipt-6" value="{$info.url}" maxlength="250" />
						<p>菜单URL地址，填写后栏目链接将无效</p>
					</div>
				</div>
			</div>
			<div class="formitm">
				<label class="lab">菜单名称：</label>
				<div class="ipt">
					<input name="name" type="text" class="u-ipt u-ipt-6" id="name" value="{$info.name}" maxlength="200" />
					<p>菜单显示名称，设置后将优先显示</p>
				</div>
			</div>
            
            	<div class="formitm">
					<label class="lab">副菜单名称：</label>
					<div class="ipt">
						<input name="sub_name" type="text" class="u-ipt u-ipt-6" id="sub_name" value="{$info.sub_name}" ignore="ignore" datatype="*" errormsg="栏目名称至少1~20个字符！" />
						<p>用于扩展名称调用</p>
					</div>
				</div>
			<div class="formitm">
				<label class="lab">菜单状态：</label>
				<div class="ipt">
					<?php if(!isset($info['show'])){ $info['show']=1; } ?>
					<label class="u-opt">
						<input name="show" type="radio" value="1" {if="$info['show']==1"} checked="checked" {/if} />
						显示</label>
					<label class="u-opt">
						<input name="show" type="radio" value="0" {if="$info['show']==0"} checked="checked" {/if} />
						隐藏</label>
					<p>前台调用列表显示</p>
				</div>
			</div>
			<div class="formitm">
				<label class="lab">菜单顺序：</label>
				<div class="ipt">
					<input name="sequence" type="text" class="u-ipt u-ipt-2" value="{$info.sequence|is_empty:1}" />
					<p>数字越小菜单越靠前</p>
				</div>
			</div>
			<div class="formitm formitm-1  formitm-2">
				<input name="catalog_id" type="hidden" value="{$info.catalog_id}" />
				<button class="u-btn" type="submit">保存</button>
				<button class="u-btn s-btn-c3" type="reset">重置</button>
				<span class="status" id="status"></span> </div>
		</fieldset>
	</form>
</div>
<script>
Do.ready('base','form','dialog','color','editor','sort','upload','tabs',function() {
	//表单综合处理
	$('#form').duxFormPage({returnUrl:'{$url|"duxcms/AdminCatalog/index"}'});
});
</script>