
#category-info{padding:20px;border-bottom:1px solid #8c8c8c;}
#category-title{padding-bottom:10px;margin-bottom:10px;border-bottom:1px dotted #ccc;font-size:25px;}
#category-des{text-indent:2em;color:#999;font-size:15px;}
#category-sublist li{display:inline;line-height:2em;}
#category-sublist li span{color:#aaa}
#category-sublist li a{padding:2px 5px;color:#999;}
#category-sublist li a:hover{color:#06C}


#category-content {min-height:500px;}
#category-content li{border-bottom:1px #999 dashed;}
#category-content li.emptyli{padding:10px 20px;height:100px;font-size:20px;}
#category-content li:hover{background-color:#F7F9FF;}
#category-content .item-head{line-height:25px;padding:0 20px;}
#category-content .item-head h2{font-size:22px;line-height:2em;border-bottom:1px dotted #ccc;}
#category-content .item-head h2 a{color:#6FCC0A;}
#category-content .item-head em{float:right;font-size:0.5em;font-weight:600;color:#999}
#category-content .item-text {padding-bottom:50px;padding:10px 20px;}
#category-content .item-text img{float:left;margin-right:5px;width:150px;}
#category-content .item-text p{text-indent:1em;line-height:1.5em;word-wrap:break-word;font-size:14px;}
#category-content .item-text .item-more{font-size:0.8em;font-weight:800;color:#0070FF;float:right;}

#category-content .pagenum{padding:20px;text-align:right;}
#category-content .pagenum >*{padding:3px 6px;margin:0 3px;text-align:right;border:1px solid #999;}
#category-content .pagenum >a{background-color:#fff;color:#000;}
#category-content .pagenum >a:hover{background-color:#6FCC0A;color:#fff;}
#category-content .pagenum >span{background-color:#6FCC0A;color:#fff;}

#category-foot {padding:0 20px;font-size:15px;}
#category-foot p{line-height:3em;white-space:pre-wrap;text-align:right;color:#999;}

