<div class="g-row">
  <div class="col-3">
    <div class="m-row">
      <div class="m-stats"> <span class="u-icon">&#xf009;</span>
        <div class="info">
          <h4>菜单数量</h4>
          <h1>{$catalogNum}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="m-row">
      <div class="m-stats s-stats-4"> <span class="u-icon">&#xf0ca;</span>
        <div class="info">
          <h4>栏目总数</h4>
          <h1>{$categoryNum}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="m-row">
      <div class="m-stats s-stats-2"> <span class="u-icon">&#xf022;</span>
        <div class="info">
          <h4>内容总数</h4>
          <h1>{$contentNum}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="m-row">
      <div class="m-stats s-stats-3"> <span class="u-icon">&#xf02b;</span>
        <div class="info">
          <h4>TAG总数</h4>
          <h1>{$tagNum}</h1>
        </div>
      </div>
    </div>
  </div>
  
  <div class="f-cb"></div>
</div>
<div class="g-row">
  <div class="col-6">
    <div class="m-row">
      <table class="m-table m-table-row">
        <thead class="m-table-title s-table-title">
          <tr>
            <th class="colb"><i class="u-icon">&#xf08e;</i> 环境信息</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>系统环境</td>
            <td>{#PHP_OS#}/<?php echo $_SERVER['SERVER_SOFTWARE'] ; ?></td>
          </tr>
          <tr>
            <td>服务器地址:</td>
            <td>{$_SERVER.SERVER_ADDR}:{$_SERVER.SERVER_PORT}</td>
          </tr>
          <tr>
            <td>服务器时间</td>
            <td>2014-01-05 20:40 CST</td>
          </tr>
          <tr>
            <td>脚本超时时间</td>
            <td><?php echo get_cfg_var("max_execution_time") ; ?> 秒</td>
          </tr>
          <tr>
            <td>上传大小</td>
            <td><?php echo get_cfg_var("upload_max_filesize")?get_cfg_var("upload_max_filesize"):"不允许上传文件" ; ?></td>
          </tr>
          <tr>
            <td>被屏蔽的函数:</td>
            <td><?php echo get_cfg_var("disable_functions")?get_cfg_var("disable_functions"):"无" ; ?></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-6">
    <div class="m-row">
      <table class="m-table m-table-row">
        <thead class="m-table-title s-table-title">
          <tr>
            <th class="colb"><i class="u-icon">&#xf08e;</i> 站点信息</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>当前站点</td>
            <td>{$siteInfo.name}</td>
          </tr>
          <tr>
            <td>当前版本</td>
            <td>{$verInfo.VER}</td>
          </tr>
          <tr>
            <td>最新版本</td>
            <td><a href="javajscript:;">点击获取</a></td>
          </tr>
          <tr>
            <td>授权信息</td>
            <td><a href="javajscript:;">点击查询</a></td>
          </tr>
          <tr>
            <td>数据驱动</td>
            <td>mysql</td>
          </tr>
          <tr>
            <td>站点工具</td>
            <td><a href="javajscript:;" id="bom">清除BOM</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="f-cb"></div>
</div>
<div class="f-hg2"></div>
<script>
Do.ready('base','dialog', function() {
	$('#bom').duxAjaxConfirm({
		content:'本操作可能需要一些时间，请确认清除BOM！',
		url:"{$url|'Index/sysbom'}",
	});
});
</script>
