<div class="m-tab s-tab">
	<h2 class="u-tt">预设管理</h2>
	<ul>
		<li><a href="{$url|'duxcms/AdminModel/index'}">模型列表</a></li>
		<li class="z-crt"><a href="javascript:;">页面模块</a></li>
	</ul>
</div>
<div class="m-form">
	<form name="" action="<?php echo url('AdminModel/editData'); ?>" method="post" id="form">
		<fieldset>
			<div class="formitm">
				<label class="lab">页面模板：</label>
				<div class="ipt">
					<input name="class_tpl" type="text" class="u-ipt u-ipt-5" id="class_tpl" value="{$info.class_tpl}" maxlength="250" datatype="*"  />
					<p>添加页面时默认页面模板</p>
				</div>
			</div>
			<div class="formitm formitm-1  formitm-2">
				<button class="u-btn" type="submit">保存</button>
				<button class="u-btn s-btn-c3" type="reset">重置</button>
				<span class="status" id="status"></span> </div>
		</fieldset>
	</form>
</div>
<script>
Do.ready('base','form','dialog',function() {
	$('#form').duxForm({returnUrl:'{$url|"duxcms/AdminModel/index"}'});
});
</script>