<div class="m-tab s-tab">
  <h2 class="u-tt">会员管理</h2>
  <ul>
    <li><a href="{$url|'AdminMember/index'}">会员列表</a></li>
    <li class="z-crt"><a href="javascript:;">{$actionName}会员</a></li>
  </ul>
</div>
<div class="m-form">
  <form name="" action="<?php echo url('AdminMember/'.$action.'Data'); ?>" method="post" id="form">
    <fieldset>
      <div class="formitm">
        <label class="lab">所属用户组：</label>
        <div class="ipt">
          <select class="u-slt" id="group_id" name="group_id">
            <!--{loop="$groupList $vo"}-->
            <option {if="$info['group_id']==$vo['group_id']"} selected="selected"{/if} value="{$vo.group_id}"> {$vo.cname} </option>
            <!--{/loop}-->
          </select>
          <p></p>
        </div>
      </div>
      <div class="formitm">
        <label class="lab">所属角色：</label>
        <div class="ipt">
          <select class="u-slt" id="role_id" name="role_id">
          	<option value="0"> ==无角色== </option>
            <!--{loop="$roleList $vo"}-->
            <option {if="$info['role_id']==$vo['role_id']"} selected="selected"{/if} value="{$vo.role_id}"> {$vo.name} </option>
            <!--{/loop}-->
          </select>
          <p></p>
        </div>
      </div>
      <div class="formitm">
        <label class="lab"> 用户名：</label>
        <div class="ipt">
          <input name="username" type="text" class="u-ipt u-ipt-5" value="{$info.username}" maxlength="20" datatype="s5-20" sucmsg="用户名验证通过！" nullmsg="请输入用户名！"  errormsg="用户名至少5个字符！"  />
          <span class="suffix"></span>
          <p>5-20位字母、数字或下划线组合</p>
        </div>
      </div>
      <div class="formitm">
        <label class="lab"> 密 码：</label>
        <div class="ipt">
          <input name="password" type="password"  ignore="ignore" class="u-ipt u-ipt-5" maxlength="250" datatype="*6-250" sucmsg="密码验证通过！" nullmsg="请输入密码！"  errormsg="密码至少6个字符！"  />
          <span class="suffix"> {if="!empty($info)"}如不修改密码请留空{/if} </span>
          <p>密码长度6~250位</p>
        </div>
      </div>
      <div class="formitm">
        <label class="lab"> 确认密码：</label>
        <div class="ipt">
          <input name="password2" type="password"  ignore="ignore" recheck="password" class="u-ipt u-ipt-5" maxlength="250" datatype="*6-250" sucmsg="密码验证通过！" nullmsg="请输入密码！"  errormsg="密码至少6个字符！"  />
          <span class="suffix"></span>
          <p>请重复您输入的密码</p>
        </div>
      </div>
      <div class="formitm">
        <label class="lab"> 邮箱：</label>
        <div class="ipt">
          <input name="email" type="text" class="u-ipt u-ipt-5" value="{$info.email}" maxlength="250" datatype="e" sucmsg="邮箱验证通过！" nullmsg="请输入邮箱地址！"  errormsg="邮箱格式不正确！"  />
          <span class="suffix"></span>
          <p>用户绑定邮箱</p>
        </div>
      </div>
      {$expand}
      <div class="formitm">
        <label class="lab" >登录状态：</label>
        <div class="ipt">
          <?php if(!isset($info['status'])){ $info['status']=1; } ?>
          <label class="u-opt">
            <input name="status" type="radio" value="1" {if="$info['status']==1"} checked="checked" {/if} />
            正常</label>
          <label class="u-opt">
            <input name="status" type="radio" value="0" {if="$info['status']==0"} checked="checked" {/if} />
            禁止</label>
        </div>
      </div>
      <div class="formitm formitm-1  formitm-2">
        <input name="user_id" type="hidden" value="{$info.user_id}" />
        <button class="u-btn" type="submit">保存</button>
        <button class="u-btn s-btn-c3" type="reset">重置</button>
        <span class="status" id="status"></span> </div>
    </fieldset>
  </form>
</div>
<script>
Do.ready('base','form','dialog','color','editor','sort','upload','calendar','tabs','region',function() {
	$('#form').duxFormPage({returnUrl:'{$url|"AdminMember/index"}'});
});
</script>